html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* BASE STYLES */

body {
    font-family: 'Barlow', sans-serif;
    font-size: 1.25rem;
    line-height: 29px;
    letter-spacing: 0.2px;
    color: #1f2022
}

html {
    font-size: 62.5%
}

img {
    width: 100%;
    display: block;
}

.wrapper {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
ul {
    margin: 0em;
}

h1,
h2,
li a,
h3
{
    color: #1d81cc;
    text-transform: uppercase;
    font-family: 'Emblema One', cursive; 
}


/* HEADER & NAVIGATION */

.clearfix:after {visibility: hidden; display: block; font-size: 0; content:''; clear: both; height: 0; } 

nav {
    margin-right: 50px;
}
ul {
    padding:0;
    margin: 0;
    list-style: none;
}

nav ul {
    margin-left: 900px;
}

nav ul li{
    float: left;
    padding: 10px 16px 1px 1px;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #1f2022;
    font-family: 'Barlow', sans-serif;
    margin: 10px;
}

li a {
    text-decoration: none;
}

header {
    background: linear-gradient(to right, #f5c8cf, #f0f5ff);
    height: 95vh;
    width: 100%;
    margin: 0;
    position: relative;
}

.title {
    float: left;
    margin-left: 88px;
    position: absolute;
    top: 85px;
    left: 31px;
}

h1 {
    font-size: 6.53rem;
    width: 369px;
    line-height: 66.3px;
    padding-top: 53px;
}

.title p {
    font-size: 2.625rem;
    margin-top: 0;
}

.heroImage {
    float: left;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 626px;
}

.heroIcons {
    float: left;
    position: absolute;
    top: 106px;
    right: 32px;
}

.heroIcons ul li a {
    font-size: 1.50rem;
}

.fa-bars{
  visibility: hidden;
}

/* APPLIANCE GALLERY */

.applianceGallery {
  background: #fcdde2;
  clear: both;
  padding-bottom: 40px;
}

h2 {
  font-size: 2.625rem;
}

.applianceGallery h2 {
  text-align: center;
  padding: 70px 0;
}

.applianceGallery ul li {
  width: calc((100% / 3) - 30px);
  float: left;
  margin-right: 30px;
}

.coffeeContainer {
  background: #fcdde2;
  padding-bottom: 20px;
  clear: both;
}

.coffeeImage,
.coffeeText {
  float: left;
}

.coffeeImage {
  width: calc(25% - 30px);
  margin-right: 30px;
}

.coffeeText {
  width: 75%;
}

.coffeeText h2 {
  padding-bottom: 0;
}

.coffeeLorem {
  margin-top: 5px;
  line-height: 25px;
}

.readMore {
  background:#042259;
  border: 1px solid #042259;
  height: 25px;
}
.readMore a {
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Emblema One', cursive; 
}

/* SMOOTHIE & KITCHEN SECTION */

.smoothieContainer {
  background: #f0f5ff;
  clear:both;
  padding:  0px 0px;
}

.smoothieText,
.smoothieImage {
  float: right;
}

.smoothieImage {
  width: calc(53% - 20px);
  margin-left: 20px;
}

.smoothieText {
  width: 40%;
  margin-left: 88px;
  padding-top: 150px;
  padding-right: 40px;
}

.smoothieText h2 {
  width: 175px;
}

.readMore2 {
  background:#f5c8cf;
  border: 1px solid #f5c8cf;
  height: 25px;
}
.readMore2 a {
  color: #042259;
  padding: 5px 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Emblema One', cursive; 
  
}

.kitchenImage,
.kitchenText {
  float: left;
}

.kitchenImage {
  width: 49%;
}

.kitchenText {
  width: 51%;
  padding-top: 59px;
  padding-left: 36px;
}

.kitchenText p {
  margin-right: 88px;
}


/*  LINKS SECTION  */

.linkContainer {
  background: #fcdde2;
  clear: both;
  padding: 80px 0;
}

.shop,
.jobs,
.events {
  float: left;
  width: 11%;
  font-size: 1.95rem;
}

.shop {
  margin-left: 475px;
}

.linkContainer i {
  font-size: 2.65rem;
  margin-left: 27px;
  color: #042259;
}

.jobs,
.events {
  margin-left: 40px;
}

/* CONTACT SECTION */

.updatesContainer {
  background: #f0f5ff;
  padding-top: 50px;
  padding-bottom:20px;
}

.updates,
.contact,
.linkList {
  float: left;
  text-align: left;
}

.updates {
  width: 37%;
  margin-left: 40px;

}

.contact{
  width: 19%;
  margin-left: 89px;
}

.linkList {
  margin-left: 272px;
  text-align: right;
  
}

h3,
.linklist a {
  font-size: 1.56rem;
}

h3,
.updatesContainer p {
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 2px;
}

input {
  width: 291px;
  height: 24px;
}

/* FOOTER */

footer {
  background: #042259;
}

footer p {
    color: white;
    margin: 0;
    text-align: center;
}

footer p a {
  color: white;
  text-decoration: none;
}

/* MEDIA QUERIES */

@media (max-width: 1256px) {

  .navi {
    display: none;
    visibility: hidden;
    position: absolute;
    left: 0;
  }

  .fa-bars {
    visibility: visible;
    font-size: 3.5rem;
    padding-top: 40px;
    position: absolute;
    right: 41px;
}

.heroIcons {
  display: none;
  visibility: hidden;
}

.smoothieText {
  width: 38%;
  padding-top: 100px;
}

.kitchenImage {
  width: 49%;
}

.kitchenText {
  width: 51%;
  padding-top: 59px;
  padding-left: 36px;
}

.shop {
  margin-left: 375px;
}

.linkList {
  margin-left: 200px;
}

nav ul {
  margin-left: 0;
}

}


@media (max-width: 1003px) {
  
.linkList {
  margin-left: 150px;
}

}

@media (max-width: 980px) {
  .smoothieText {
    width: 35%;
    padding-top: 16px;
  }

}


@media (max-width: 970px) {

  .heroImage {
    width: 600px;
  }

}

@media (max-width: 890px) {

  header {
    background: radial-gradient(at bottom right, #f0f5ff,#f5c8cf);
  }

.heroImage {
  width: 450px;
}

.smoothieText,
.smoothieImage,
.kitchenImage,
.kitchenText {
  clear: both;
}

.smoothieImage,
.kitchenImage  {
  width: 100%;
  margin-left: 0;
}

.smoothieText,
.kitchenText {
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  width: 100%;
}

.smoothieText h2,
.kitchenText h2 {
  width: 100%;
  padding-top: 15px;;
}

.smoothieText p,
.kitchenText p {
  width: 88%;
  text-align: center;
  margin-left: 35px;
}

.smoothieText button,
.kitchenText button {
    margin-left: 370px;
  margin-bottom: 15px;
}

.shop {
  margin-left: 275px;
}

.linkList {
  margin-left: 100px;

}

}

@media (max-width: 768px) {

  .coffeeImage,
  .coffeeText {
    clear: both;
  }

  .coffeeImage,
  .coffeeText h2,
  .coffeeText p {
    width:100%;
  }
  .coffeeText h2,
  .coffeeText p,
  .smoothieText h2,
  .kitchenText h2  {
    text-align: center;
    padding-top: 10px;
  }

  .coffeeText h2,
  .coffeeText p {
    margin-left: 80px;
  }

  .coffeeText button {
    margin-left: 280px
  }

  .smoothieText button,
  .kitchenText button {
      margin-left: 320px;
      margin-bottom: 15px;
  }
  .shop {
    margin-left: 225px;
  }
  .contact p{
    letter-spacing: normal;
    width: 100%;
  }

}

@media (max-width: 480px) {

header {
  height: 90vh;
}

.heroImage {
  width: 300px;
}

.title {
  margin-left: 0;
}

.third {
  display: none;
}

.applianceGallery ul li {
  width: 44%;
  margin-left: 15px;
  margin-right: 5px;
}

.applianceGallery h2 {
  padding: 25px 0;
}

.coffeeText button {
  margin-left: 190px
}


.smoothieContainer {
  background: #fcdde2;
}

.smoothieText button {
    margin-left: 170px;
    background: #042259;
    border:1px solid #042259;
}

.kitchenText button {
  margin-left: 150px;
  background: #042259;
  border:1px solid #042259;
}

.readMore3 a {
  color: white;
}

.smoothieText,
.kitchenText p {
  margin-left: 0;
}

.coffeeText p {
  margin-left: 42px;
}

.coffeeText h2 {
  margin-left: 60px;
}

.coffeeText button {
  margin-left: 160px;
}

.linkContainer {
  padding: 0;
  background: #f5c8cf;
}

.shop,
.jobs,
.events {
  clear: both;
}

.shop,
.jobs,
.events {
  margin-left: 190px;
  padding: 22px 0;
}

.updates {
  width: 100%;
  margin-left: 0;
  text-align: center;
  letter-spacing: 1px;;
}

.updates,
.contact,
.linkList {
  clear: both;
}

.updatesRow {
  position: relative;
}

.contact,
.linkList {
  display: block;
}

.contact {
  width: 40%;
  margin: 0;
  padding-top: 15px;
}

.linkList {
  width: 40%;
  margin: 0;
  position: absolute;
  right: 23px;
  bottom: 0px;
  font-size: 1.8rem;
}
.updatesContainer {
  padding-top: 20px;
}

input {
  width: 349px;
  height: 34px;
}

.updates button {
  margin-top: 10px;
}

  .contact p{
    letter-spacing: normal;
    width: 100%;
  }

}

@media (max-width: 444px) {

  .title h1 {
    font-size: 5.53rem;
    width: 322px;
  }

  header {
    height: 100vh;
  }
  .heroImage {
    width: 300px;
  }

  .applianceGallery ul li  {
    width: 44%;
  }

  .contact p{
    letter-spacing: normal;
    width: 100%;
}

}

@media (max-width:435px) {
  .applianceGallery ul li  {
    width: 42%;
  }

}

@media (max-width: 370px) {

  .title h1 {
    font-size: 5.53rem;
    width: 322px;
  }

  header {
    height: 90vh;
  }
  .heroImage {
    width: 300px;
  }

  .applianceGallery ul li  {
    width: 43%;
  }

  .coffeeText button {
    margin-left: 110px
  }

  .smoothieText button {
    margin-left: 120px;
}

.kitchenText button {
  margin-left: 110px;
}

.shop,
.jobs,
.events {
  margin-left: 150px;
}

.contact p {
  letter-spacing: normal;
  width: 100%;
}

input {
  width: 330px;
}

}
